
[data-renderer=catdistributionbar] {
  display: flex;

  > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: transparent;

    &:before {
      content: attr(data-cat);
      position: absolute;
      left: 5px;
      right: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
    }
  }
}
